/* Custom CSS
* --------------------------------------- */
body{
  font-family: arial,helvetica;
  color: #444;
}
h1{
  font-size: 3em;
}
p{
  font-size: 1.2em;
}

.content{
  position: relative;
  text-align: center;
}

.content h1 {
  margin-bottom: 30px;
}

.contentText {
  text-align: left;
}

.github {
  width: 40px;
  margin-top: 20px;
  opacity: 0.8;
}
.githubtext {
  font-size: 1em;
}

.website {
  width: 40px;
  margin-top: 20px;
  opacity: 0.8;
}
.websitetext {
  font-size: 1em;
}

/* Section 1
* --------------------------------------- */
#section0{
  background-color: #292929;
}
#section0 h1{
  color: #fff;
}
#section0 p{
  color: #fff;
  opacity: 0.4;
}


/* Section 2
* --------------------------------------- */
#section1{
  background-color: #fff;
}
#section1 h1{
  color: #444;
}
#section1 p{
  opacity: 0.8;
}


/* Section 3
* --------------------------------------- */
#section2{
  background-color: #46aec0;
}
#section2 h1{
  color: #F2F2F2;
}
#section2 p{
  opacity: 0.6;
}

/* Nihongo Slide styles*/
